.black {
  font-size: 20px;
  top: -40%;
  left: 10%;
  font-family: sans-serif;
  border-top: 4px solid;
  width: 55%;
  border-left: 4px solid;
  height: 50%;
  border-bottom: 4px solid;
  border-right: 4px solid;
  text-align: center;
  border-radius: 5px;
  border-color: #272932;
  background-color: #272932;
  color: rgb(255, 255, 255);
}

.purple {
  position: relative;
  font-size: 20px;
  top: -40%;
  left: -30%;
  font-family: sans-serif;
  border-top: 4px solid;
  width: 55%;
  border-left: 4px solid;
  height: 50%;
  border-bottom: 4px solid;
  border-right: 4px solid;
  text-align: center;
  border-radius: 5px;
  border-color: #947eb0;
  background-color: #947eb0;
  color: rgb(0, 0, 0);
}

.green {
  position: relative;
  font-size: 20px;
  top: -158%;
  left: 130%;
  font-family: sans-serif;
  border-top: 4px solid;
  width: 55%;
  border-left: 4px solid;
  height: 55.7%;
  border-bottom: 4px solid;
  border-right: 4px solid;
  text-align: center;
  border-radius: 5px;
  border-color: #519879;
  background-color: #519879;
  color: rgb(0, 0, 0);
}

.white {
  position: relative;
  font-size: 20px;
  top: -80%;
  left: -91%;
  font-family: sans-serif;
  border-top: 4px solid;
  width: 56.5%;
  border-left: 4px solid;
  height: 55.7%;
  border-bottom: 4px solid;
  border-right: 4px solid;
  text-align: center;
  border-radius: 5px;
  border-color: #000000;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.juice {
  position: absolute;
  font-size: 20px;
  left: 272%;
  top: 26.2%;
  font-family: sans-serif;
  border-top: 4px solid;
  width: 55%;
  border-left: 4px solid;
  height: 16.6%;
  border-bottom: 4px solid;
  border-right: 4px solid;
  text-align: center;
  border-radius: 5px;
  border-color: #fb8b24;
  background-color: #fb8b24;
  color: #000000;
  width: 220%;
}

.colors {
  display: flex;
}
