.black {
  font-size: 20px;
  font-family: sans-serif;
  border-top: 3px solid;
  border-left: 3px solid;
  border-bottom: 3px solid;
  border-right: 3px solid;
  text-align: center;
  border-radius: 5px;
  border-color: #ffffff;
  background-color: #272932;
  color: rgb(255, 255, 255);
  margin: 2%;
}

.purple {
  font-size: 20px;

  font-family: sans-serif;
  border-top: 4px solid;
  width: 10%;
  border-left: 4px solid;
  height: 10%;
  border-bottom: 4px solid;
  border-right: 4px solid;
  text-align: center;
  border-radius: 5px;
  border-color: #947eb0;
  background-color: #947eb0;
  color: rgb(0, 0, 0);
  bottom: 30%;
}

.green {
  font-size: 20px;

  font-family: sans-serif;
  border-top: 4px solid;
  width: 10%;
  border-left: 4px solid;
  height: 10%;
  border-bottom: 4px solid;
  border-right: 4px solid;
  text-align: center;
  border-radius: 5px;
  border-color: #519879;
  background-color: #519879;
  color: rgb(0, 0, 0);
}

.white {
  font-size: 20px;

  bottom: 47%;
  font-family: sans-serif;
  border-top: 3px solid;
  width: 11%;
  border-left: 3px solid;
  height: 10.5%;
  border-bottom: 3px solid;
  border-right: 3px solid;
  text-align: center;
  border-radius: 5px;
  border-color: #000000;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.accent {
  font-size: 20px;

  font-family: sans-serif;
  border-top: 4px solid;
  border-left: 4px solid;
  height: 10%;
  border-bottom: 4px solid;
  border-right: 4px solid;
  text-align: center;
  border-radius: 5px;
  border-color: #fb8b24;
  background-color: #fb8b24;
  color: #000000;
  width: 10%;
}

.colors {
  display: flex;
}
