
.h1 {
    font-size: 1em;
    font-weight: var(--fat);
    font-family: 'Halton-bold', sans-serif;
    grid-area: h1;
}

.h2 {
    font-size: 1em;
    font-weight: var(--chubby);
    font-family: "Halton", sans-serif;
    grid-area: h2;
}


.h3 {
    font-size: .75em;
    font-weight: var(--thin);
    font-family: 'halton-italic', sans-serif;
    grid-area: h3;
}

.typography__content {
    grid-column: span 2;
}

.typography__content section {
    display: initial;
}

/* .new-example {}

.new-example__header {} */


.new-example {
    margin: 2.25em;
}

.new-example__content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.new-example__content h4 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.new-example h5 {
    font-size: .6em;
    margin-bottom: .75em;
    margin-top: 1.75em;
}

.new-example p {
    font-size: .6em;
    margin-bottom: 1em;
}