nav {
    overflow: hidden;
    font-family: 'Halton';
    font-weight: 600;
}

nav a {
    float: left;
    display: block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    border-radius: 2em;
    text-decoration: none;
}

nav a:hover {
    background-color: #DDD;
    color: Black;
}


.nav li{
    display: inline-block;
    margin-left: 1.2em;
    font-size: .5em;
}
.nav a{
    list-style-type: none;
    color: #DDD;
    text-align: center;
    text-decoration: none;
}

.nav a:hover{
    color: #947eb0;
}