/* .button-topic {
    grid-template-areas:
      "a a"
      "b b
      "b b"
    ;
  }
  
  .button .title-topic {
    grid-area: a;
  } */
  
  .button {
    margin: 1em 0.5em;
    padding: 0.75em 2em;
    font-size: 0.65em;
    text-transform: uppercase;
    border-radius: 40px;
    border-style: none;
    color: var(--background);
    background-color: var(--primary);
    cursor: pointer;
    grid-area: b;

    transition: all 0.3s ease-in-out;
  }

  .button:hover {
    filter: brightness(120%);
  }

  .button:active{
    filter: brightness(80%);
  }
  
  .button:disabled {
    cursor: not-allowed;
    opacity: 50%;
  }

  .button:disabled:hover {
    filter: none;
  }
  
  .destructive {
    background-color: var(--accent);  }
  
  .recommended {
    background-color: var(--secondary);  }
  
  .minor {
    background-color: transparent;
    color: var(--secondary);
  }
  
  .minor:hover {
    text-decoration: underline;
  }

  .buttons p:first-child {
    margin: 0;
    padding: 0;
  }