.forms p {
    padding: 0;
    margin: 0.5em 0;
}
.forms h3 {
    padding: 0;
    margin: 0;
}

.example .forms_sections {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 0.5px solid var(--clr-text);
}

label:first-child {
    margin-top: 0;
}
label {
    display: block;
    margin-top: 1em;
    font-size: 0.8em;
    font-weight: normal;
    line-height: 2em;
}
input {
    padding: 1em;
    margin: 0;
    width: 100%;
    height: inherit;
    text-transform: uppercase;
    border-radius: 0.25em;
    border: none;
    color: var(--clr-background);
    background-color: var(--clr-text);
    border: 3px solid var(--clr-text);
}
input::placeholder {
    color: var(--clr-background);
    opacity: 50%;
    font-family: "Halton-regular", sans-serif;
}
input:focus {
    box-sizing: border-box;
    border: var(--forms-focus);
    outline: none;
}
textarea {
    padding: 1em;
    margin: 0;
    width: 100%;
    height: inherit;
    text-transform: uppercase;
    border-radius: 0.25em;
    border: none;
    color: #272932;
    background-color: var(--clr-text);
    border: 3px solid var(--clr-text);
}
textarea::placeholder {
    color: var(--clr-background);
    opacity: 50%;
    font-family: "Halton-regular", sans-serif;
}
textarea:focus {
    box-sizing: border-box;
    border: var(--forms-focus);
    outline: none;
}

.form_group {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
}
.form-group_attachment {
    margin: 0;
}
.form-group_attachment button {
    margin: 0 0 0 -1px;
    vertical-align: middle;
    padding: 1.2em;
    border-radius: 0 0.25em 0.25em 0;
    line-height: normal;
}

small {
    padding: 0 1em;
    flex-basis: 100%;
    display: inline-block;
    font-size: 0.8em;
    color: var(--clr-text);
    opacity: 50%;
}
.req {
    color: var(--clr-primary);
    font-weight: bold;
}
.form_validation {
    padding: 0.5em;
    border-radius: 0.25em;
    color: var(--clr-background);
}
.form_validation p {
    padding: 0 0.5em;
}
.valid {
    background-color: var(--clr-secondary);
}
.invalid {
    background-color: var(--clr-accent);
}
.forms ul {
    list-style: none;
}

.forms li {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}


.forms_container pre {
  grid-template-areas: code;

}

.dodont_forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "info code"
  ;

  margin-top: 2em;
}

.forms .forms_sections:last-child {
  border: none;
  margin: 0;
}

/* SELECT MENU */

.select_container {
  margin-top: 1em;
  position: relative;
  color: var(--clr-background);
  width: 50%;
  
  background-color: var(--clr-primary);
  border-radius: 1000px;
}

.select_box {
  border: none;
  appearance: none;
  font-size: 0.7em;
  margin: 0;
  width: 100%;
  padding: .7em 1em;
  text-transform: uppercase;

  border: none;
  border-radius: 1000px;
  color: var(--clr-background);
  background-color: var(--clr-primary);
}

/* ARROW */
.select_container::after {
  content: '';
 position: absolute;
 right: .5em;
 bottom: .4em;
 width: 0;
 height: 0;
 border-left: .5em solid transparent;
 border-right: .5em solid transparent;
 border-top: .5em solid var(--clr-primary);
 border-radius: 1000px;
 clear: both;

}

.select_container::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
 width: 2em;
 height: 70%;
 background-color: var(--clr-background);
 border: 3px solid var(--clr-primary);
 border-radius: var(--btn-radius);
 clear: both;

}

.select_container:hover {
  filter: var(--btn-hover);
}

.select_container:active {
  filter: var(--btn-active);
}

.select_box:focus {
  outline: none;
}

/* CHECKBOX */

.checkbox_container li{
  margin-top: 1em;
  display: flex;
  justify-items: center;
  gap: 2em;
  background-color: var(--clr-primary);
  color: var(--clr-background);
  text-transform: uppercase;
  padding: .2em;
  height: 2em;
  padding-left: 3em;
  border-radius: .25em;
  width: 50%;
  position: relative;

}

.checkbox_container li::before{
  content: '';
  background-color: var(--clr-background);
  border: 3px solid var(--clr-primary);
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 0;
  height: 2em;
  width: 50px;
  border-radius: .25em;
}

.checkbox_container li label{
  margin: 0;
  padding: 0;
}

 .checkbox_container li span {
  width: 50px;
  height: 50px;
  transform: scale(1.5);
  position: absolute;
  top: 1em;
  left: 1em;

} 

.checkbox_box { 
  width: 100%;
  height: 100%;
}