@import url(01color.css);
@import url(02radius.css);
@import url(03typography.css);
@import url(04navigation.css);
@import url(05button.css);
@import url(06graphsandtables.css);
@import url(07forms.css);

/*Algmene css*/
@font-face {
  font-family: "Halton-regular";
  src: url(assets/Halton/Halton\ regular.otf) format("opentype");
}

@font-face {
  font-family: "Halton-regular-italic";
  src: url(/assets/Halton/Halton\ regular-italic.otf) format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Halton-bold";
  src: url(/assets/Halton/Halton\ bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Halton-bold-italic";
  src: url(/assets/Halton/Halton\ bold-italic.otf) format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Halton-light";
  src: url(/assets/Halton/Halton\ light.otf) format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Halton-light-italic";
  src: url(assets/Halton/Halton\ light-italic.otf) format("opentype");
  font-weight: 100;
  font-style: italic;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* url(assets/Halton/Halton\ regular-italic.otf) format('opentype'),
    src: url(assets/Halton/Halton\ regular.otf) format("opentype");
    url(assets/Halton/Halton\ bold.otf) format('opentype'),
    url(assets/Halton/Halton\ bold-italic.otf) format('opentype'),
    url(assets/Halton/Halton\ light.otf) format('opentype'),
    url(assets/Halton/Halton\ light-italic.otf)   format('opentype'),
    url(assets/Halton/Halton\ thin.otf) format('opentype'),
    url(assets/Halton/Halton\ thin-italic.otf) format('opentype'); */
}

:root {
  --primary: #AD97C9;
  --background: #272932;
  --text: #ecf8f8;
  --secondary: #519879;
  --accent: #fb8b24;
  
  /*radius custom properties*/
  --btn-radius:2.5em;
  --sec-radius:.25em;
  --icon-radius:3.5em;

  /*TYPOGRAPHY*/
  --thin: 400; /* Halton-italic */
  --chubby: 600 ; /* Halton-regular */
  --fat: 800; /* Halton-bold */

  /* BUTTON */
  --btn-hover: brightness(120%);
  --btn-active: brightness(80%);

  /* FORMS */
  --forms-focus: 3px solid var(--primary);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Halton-regular", sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  display: block;
  background-color: #272932;
  color: #ecf8f8;
}

header.body__header {
  text-align: center;
  font-size: 1.8em;
  font-weight: 600;
  color: #ecf8f8;
}

main {
  margin: 0 10em 10em 10em;
}

h1 {
  margin: 0.5em 0 0 0;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  align-items: center;
  margin: 1.5em 0 1em 0;
  position: relative;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: bold;
  color: #ad97c9;
}

h2::after {
  content: "";
  display: block;
  height: 0.5px;
  background: #ecf8f8;
}

h3 {
  margin-top: 1em;
}

h3:first-child {
  margin: 0;
  padding: 0;
}

h4 {
  text-transform: uppercase;
}

p {
  font-weight: 100;
  font-family: "Halton-regular", sans-serif;
}

/* LAY-OUT */
.title {
  grid-area: titel;
  width: 100%;
}

.example {
  grid-area: voorbeeld;
  margin-bottom: 2em;
}

section .info {
  grid-area: info;
  margin: 0 0.5em;
}

section pre {
  grid-area: code;
  position: relative;

  margin: 0 0.5em;
  background-color: #ecf8f8;
  border-radius: 0.25em;

  overflow: auto;
}

pre::before {
  content: "HTML";
  font-size: 0.8em;
  color: #272932;
  position: absolute;
  top: 0.4em;
  right: 0.4em;
}

section code {
  margin: 0;
  padding: 0;
  color: #272932;
  position: relative;
  width: 100%;
  white-space: pre;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "titel titel"
    "voorbeeld voorbeeld"
    "info code";
}

/* Do's Don'ts */

.info .do {
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-radius: 0.25em;
  background-color: #519879;
  color: #272932;
}

.info p {
  margin-bottom: 1em;
}

.info ul {
  margin-bottom: 1em;
}

.info .do h3 {
  text-transform: uppercase;
}

.info .dont {
  padding: 0.5em;
  border-radius: 0.25em;
  background-color: #fb8b24;
  color: #272932;
}

.info .dont h3 {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.do .code_info {
  background-color: #519879;
  filter: brightness(120%);
  padding: 0 0.2em;
  border-radius: 0.25em;
}

.dont .code_info {
  background-color: #fb8b24;
  filter: brightness(120%);
  padding: 0 0.2em;
  border-radius: 0.25em;
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 1.3em;
    /* Adjusted for tablets */
  }

  main {
    margin: 0 5em 5em 5em;
    /* Adjusted for tablets */
  }

  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "titel"
      "voorbeeld"
      "info"
      "code";
  }

}

@media (min-width: 768px) {
  body {
    font-size: 1.5em;
    /* Adjusted for larger screens */
  }

  main {
    margin: 0 10em 10em 10em;
    /* Adjusted for larger screens */
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "titel titel"
      "voorbeeld voorbeeld"
      "info code";
  }

}